:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .button-row {
    display: table-cell;
    width: 750px;
    margin: 8px 8px 8px 0;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .sign-up-row {
    width:100%;
    display: flex;
    justify-content: center;
  }

  .login-btn {
    position:relative;
    width: 100%;
    padding: 5px 0 5px 0;
    font-size: 2vh;
  }
  
  .sign-up-btn {
    text-decoration: none;
    color: #785ff0;
  }

  .acc-btn {
    position:relative; 
    float: left;
  }

  .card-container {
    width: 40vw;
    height: 100%; 
    margin: auto; 
    margin-top: 100px;
  }

  .mat-form-field {
    width: 100%;
    padding: 10px 0 10px 0;
  }

  .box-container {
    padding: 20px;
  }

  .logo {
    width: 100%;
  }

  .logo-container {
    width: 10%;
    overflow:hidden;
    margin: auto;  
  }

  .page-title {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #785ef0;
  }

  .register-card {
    width: 40vw;
    margin-top: 20px;
    position: absolute;
    color: #ffff;
  }

  .info-card {
    width: 40vw;
    margin-top: 20px;
    position: absolute;
  }

  .register-card-wrapper {
    display: flex; 
    justify-content: center;
    margin: auto;
  }

  .keyboard-icon {
    transform: scale(1.5);
    margin-bottom: 10px;
  }

  .typo-error { 
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 12.5px;
  }