@import url('../login/login.component.css'); 

  .checkbox-error { 
  
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    font-size: 12.5px;
  }

  .button-row {
    margin: 0px auto;
    text-align: center;
  }

  .register-btn {
    width: 50%;
  }

  .keyboard-icon {
    transform: scale(1.5);
    margin-bottom: 10px;
  }