<!--
    https://material.angular.io/components/card/examples - Card (Angular Material)
    https://material.angular.io/components/form-field/overview - Form field (Angular Material)
    https://material.angular.io/components/button/overview - Button (Angular Material)
    https://material.angular.io/components/checkbox/overview - CheckBox (Angular Material)
-->

<mat-card class="card-container">

    <div class="box-container">

        <div class="logo-container">
            <img src="/assets/img/logo.png" alt="company-logo" class="logo">
        </div>
        <div class="page-title">
            <h3>Sign up</h3>
        </div>

        <div>

            <mat-form-field appearance="legacy" [formGroup]="userForm">
            <mat-label>Username</mat-label>
            <input matInput placeholder="User#0000" formControlName="username" required >
            <mat-icon matSuffix>account_circle</mat-icon>
            <!--<mat-hint>This will be the ID given to you</mat-hint>-->
            <mat-error *ngIf="username?.errors?.required">Username is required</mat-error>
            <mat-error *ngIf="username?.errors?.pattern">Must be a valid user</mat-error>
            </mat-form-field>
        </div>


        <div>
            <mat-form-field appearance="legacy" [formGroup]="userForm" id="0">
                <mat-label>this is a test</mat-label>
                <input matInput placeholder="Sentence" formControlName="firstSentence" type="text" 
                (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)" (input)="validateInput($event)" required>

                <button mat-icon-button matSuffix class="keyboard-icon" (click)="clearValue($event)">
                    <mat-icon>keyboard</mat-icon>
                </button>
                <mat-hint>This will record your keyboard patterns</mat-hint>

                <mat-error *ngIf="firstSentence?.errors?.required">This field is required</mat-error>
                <mat-error *ngIf="firstSentence?.errors?.pattern">Sentence does not match above</mat-error>

            </mat-form-field>
            <mat-error *ngIf="this.anotherValid[0] === false" class="typo-error">Typo detected, click the keyboard icon to restart</mat-error>

        </div>
        
        
        <div>
            <mat-form-field appearance="legacy" [formGroup]="userForm" id="1">
            <mat-label>this is a test</mat-label>
            <input matInput placeholder="Sentence" formControlName="secondSentence" type="text" 
            (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)" (input)="validateInput($event)" required>

            <button mat-icon-button matSuffix class="keyboard-icon" (click)="clearValue($event)">
                  <mat-icon>keyboard</mat-icon>
            </button>
            <mat-hint>This will record your keyboard patterns</mat-hint>
            
            <mat-error *ngIf="secondSentence?.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="secondSentence?.errors?.pattern">Sentence does not match above</mat-error>
            </mat-form-field>
            <mat-error *ngIf="this.anotherValid[1] === false" class="typo-error">Typo detected, click the keyboard icon to restart</mat-error>
        </div>
        
        <div>
            <mat-form-field appearance="legacy" [formGroup]="userForm" id="2">
            <mat-label>this is a test</mat-label>
            <input matInput placeholder="Sentence" formControlName="thirdSentence" type="text" 
            (keyup)="onKeyUp($event)" (keydown)="onKeyDown($event)" (keypress)="onKeyPress($event)" (input)="validateInput($event)" required>

            <button mat-icon-button matSuffix class="keyboard-icon" (click)="clearValue($event)">
                  <mat-icon>keyboard</mat-icon>
            </button>
            <mat-hint>This will record your keyboard patterns</mat-hint>
            
            <mat-error *ngIf="thirdSentence?.errors?.required">This field is required</mat-error>
            <mat-error *ngIf="thirdSentence?.errors?.pattern">Sentence does not match above</mat-error>
            </mat-form-field>
            <mat-error *ngIf="this.anotherValid[2] === false" class="typo-error">Typo detected, click the keyboard icon to restart</mat-error>
        </div>


        <app-checkbox (update)="checkComplete($event)"></app-checkbox>
        <mat-error *ngIf="checkbox?.invalid && checkbox?.dirty" class="checkbox-error">You must agree the terms and services</mat-error>

          <section>
            <div class="button-row">
                <!--Disabled if formgroup is invalid-->
                <button mat-raised-button color="primary" (click)="onSubmit()" class="register-btn">Register</button>
            </div>
        </section>
    </div>
</mat-card>