@import url('../login/login.component.css'); 


  .card-container {
    margin-top: 25px;
  }

  .typo-error { 
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 12.5px;
  }

  .button-row {
    margin: 0px auto;
    text-align: center;
  }

  .register-btn {
    width: 50%;
  }

  .keyboard-icon {
    transform: scale(1.5);
    margin-bottom: 10px;
  }

  .error-card {
    width: 40vw;
    margin-top: 20px;
    position: relative;
  }

  .error-card-wrapper {
    display: flex; 
    justify-content: center;
    margin: auto;
  }