.checkbox-section {
    margin-top: 50px;
    margin-bottom: 20px;

  }
  
  .checkbox-margin {
    font-size: 1vw;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
    font-size: 1vw;
  }